.counter {
  button {
    font-family: "JetBrains Mono", monospace;
  }

  span {
    // padding: 0 10px;
    font-family: "JetBrains Mono", monospace;
  }
}

#root {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(10, 25, 41);
}

.memo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 50%;
}

.login-component {
  width: 90%;
}
