@import "src/styles/themes";

.badge {
  // padding: 4px 4px;
  padding: 0 4px;
  border: 1px solid rgba(#fff, .4);
  border-radius: 9999px;
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 0 2px $background-color;

  // min-width: 16px;
}
