@import "../../themes";

.button {

  &.internally-styled {
    font-family: "OperatorMono", monospace;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;
    border-radius: 6px;
    font-size: 16px;
    font-weight: bold;
    width: 100%;
    border: 1px solid $border-color-secondary;
    background-color: $background-highlight-color;
    color: $font-primary-color;
    padding: 16px 16px;
    transition: all 100ms linear;
    user-select: none;

    &:hover {
      filter: brightness(120%);
      border: 10px $border-color-secondary !important;
    }

    &:active {
      border: 1px solid $primary-highlight-color,
      3px solid rgba(113, 217, 158, 0.13) !important;
    }
  }

  &.primary {
    border: 1px solid $primary-highlight-color;
    background-color: $primary-color;
  }
}
