@import "src/styles/themes";

.input-container {
  // width: 100%;
  // height: 3.5rem;
  // position: relative;
  // background-color: $background-highlight-color;
  // border-radius: $border-radius;
  // overflow: hidden;

  input {
    // border-radius: $border-radius;
    // color: $font-primary-color;
    // // border: 1px solid $border-color-secondary;
    // background: none;
    // position: absolute;
    // top: 0;
    // left: 0;
    // width: 100%;
    // height: 100%;
    // outline: none;
    // box-sizing: border-box;
    // padding: 0 .6rem;
    // z-index: 1;

    // &:focus {
    //   border: 1px solid $primary-color;
    //   box-shadow: 0 0 0 4px $border-primary-shadow;
    // }

    &:-webkit-autofill {
      color: $font-primary-color;
      background-color: $background-highlight-color !important;
    }
  }

  // label {
  //   font-size: 14px;
  //   position: absolute;
  //   left: .4rem;
  //   top: 1.25rem;
  //   padding: 0 .25rem;
  //   color: white;
  //   transition: all .3s;
  // }
//
  // input:focus + label, input:not(:placeholder-shown) + label {
  //   top: +.15rem;
  //   left: .4rem;
  //   color: $font-secondary-color;
  //   font-size: 12.5px;
  //   letter-spacing: 0.02rem;
  //   font-weight: 100;
  //   z-index: 10;
  // }
}

