@import "src/themes";

.project-info {
  scroll-snap-align: start;
  width: 200px;
  flex: 0 0 200px;
  height: 200px;
  position: relative;
  box-sizing: border-box;
  padding: $padding-page;
  border-radius: 27px;
  background-color: $background-highlight-color;
  border: 1px solid $border-color-secondary;

  .project-header {

    .project-badge {
      width: 12px;
      height: 12px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      background-color: $primary-highlight-color;
      padding: 5px;
      // transform: scale(.6);

      svg {
        display: flex;
        justify-content: center;
        align-items: center;

        path {
          fill: black;
        }

      }
    }

    .project-contributors {

    }
  }

  .project-title {
    margin-top: .5em;
    font-style: normal;
    font-weight: bold;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 16px;
    line-height: 27px;
    overflow: hidden;
  }
}
