$background-color: #171717;
$font-primary-color: white;
$font-primary-inverted-color: black;
$font-secondary-color: #C6C6C6;
$font-deactivated-color: #4F4F4F;
$primary-color: #71D99E;
$primary-highlight-color: #A9E5C3;

.boarding-page {
  width: 100%;
  height: 100vh;
  color: $font-primary-color;
  box-sizing: border-box;
  position: relative;

  .boarding-page-foreground {
    box-sizing: border-box;
    padding: 2.4rem;
    z-index: 10;
    position: relative;
    width: 100%;
    max-width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas: "a" "b" "c" "d";
    grid-template-rows: repeat(4, 1fr);

    .header {
      grid-area: a;
      width: 100%;

      .header-container {
        width: 100%;
        align-items: center;
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        .logo-space {
          width: 100%;

          &:first-child {
            height: 24px;
            fill: $font-primary-color;
          }
        }

        .page-name {
          justify-self: center;
          color: $font-primary-color;
          margin: 0;
          font-family: 'Poppins', sans-serif;
          font-style: normal;
          font-weight: 900;
          font-size: 14px;
          line-height: 27px;
          display: flex;
          align-items: center;
          text-align: center;
          letter-spacing: 0.03em;
          text-transform: uppercase;
        }
      }
    }

    .title {
      grid-area: b;
      width: 100%;
      height: 100%;
      font-family: "OperatorMono", monospace;
      display: flex;
      justify-content: center;
      flex-direction: column;

      h1 {
        margin: 0;
        font-style: normal;
        font-weight: bold;
        font-size: 38px;
        line-height: 58px;
        display: flex;
        align-items: center;
        letter-spacing: 0.03em;
        color: $font-primary-color;
      }

      h3 {
        margin: 10px 0 0;
        font-style: normal;
        font-weight: 350;
        font-size: 14px;
        line-height: 22px;
        display: flex;
        align-items: center;
        letter-spacing: 0.03em;
        color: $font-secondary-color;
      }
    }

    .boarding {
      grid-area: d;
      width: 100%;
      max-width: 100%;

      .boarding-form {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;
        flex-direction: column;

        .continue-as-list {
          padding: 0;
          width: 100%;
          max-width: 100%;
          margin-bottom: 1em;
          display: flex;
          flex-direction: column;
          gap: 1em;
        }

        .boarding-type {
          width: 100%;
          display: grid;
          grid-template-columns: 1fr fit-content(0) 1fr;
          align-items: center;

          .separator {
            font-family: "Consolas", monospace;
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            line-height: 33px;
            display: flex;
            align-items: center;
            text-align: center;
            letter-spacing: 0.03em;
            color: $font-deactivated-color;
            flex: none;
            flex-grow: 0;
            margin: 0 15px;
          }
        }
      }
    }
  }

  .boarding-page-background {
    background-color: $background-color;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;

    & :first-child {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }
  }
}
