@import "src/themes";

.dashboard-page {
  width: 100%;
  height: 100%;
  padding: $padding-page;
  box-sizing: border-box;

  .dashboard-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .left-icons {
      display: inline-flex;
      flex-wrap: wrap;
      gap: 1.3rem;
    }

    .right-icons {
      display: inline-flex;
      flex-wrap: wrap;
      flex-direction: row-reverse;
      gap: 1.3rem;
    }
  }

  .dashboard-title {

    .name {

    }
  }

  .dashboard-content {

  }
}
