@import "src/themes";

.dashboard-page {
  width: 100%;
  height: 100%;
  padding: $padding-page;
  box-sizing: border-box;

  .dashboard-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .left-icons {
      display: inline-flex;
      flex-wrap: wrap;
      gap: 1.4rem;

      * {
        fill: white;
      }
    }

    .right-icons {
      display: inline-flex;
      flex-wrap: wrap;
      flex-direction: row-reverse;
      gap: 1.4rem;

      * {
        fill: white;
      }
    }
  }

  .dashboard-title {
    .name {

    }
  }

  .dashboard-content {
    .project-view {
      .project-view-header {
        h2 {
          font-style: normal;
          font-weight: bold;
          font-size: 20px;
          line-height: 29px;
          /* identical to box height */

          display: flex;
          align-items: center;
        }

        .projects {
          position: relative;
          width: 100%;
          margin: 10px 0;
          display: flex;
          flex-direction: row;
          gap: 1em;
          flex: 0 0 300px;
          overflow-x: scroll;
          scroll-snap-type: x mandatory;

          // * {
          //   margin: 0;
          // }
        }
      }
    }
  }
}
