@import "src/themes";

.login-page {
  overflow-y: scroll;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 1rem;
  background-color: $background-color;
  color: $font-primary-color;

  .login-page-foreground {

    .l-p-f-header {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      align-items: center;

      svg path {
        fill: $font-primary-color;
      }

      .page-name {
        justify-self: center;
        color: $font-primary-color;
        margin: 0;
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        font-weight: 900;
        font-size: 14px;
        line-height: 27px;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
      }
    }

  }
}

.state-display {
  border-radius: $border-radius;
  margin-bottom: 1em;

  &:first-child {
    background-color: $background-color;
    border: 1px solid $border-color-secondary;
    padding: 10px;

    .react-json-view {
      background-color: $background-highlight-color !important;
    }
  }
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.login {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: $background-color;

  * {
    font-family: "OperatorMono", monospace;
  }

  * + * {
    margin-top: .4rem;
  }

  #username, #password {
    border-radius: $border-radius;
    padding: 0 10px;
    height: 2.4rem;
    color: $font-primary-color;
    border: 1px solid $border-color-secondary;
    background-color: $background-highlight-color;

    &:focus {
      border: 1px solid $primary-color;
      outline: 3px solid $border-primary-shadow !important;
    }

    &:-webkit-autofill {
      color: $font-primary-color;
      background-color: $background-highlight-color !important;
    }
  }

  .login-btn {
    margin-top: 1rem;
    border-radius: $border-radius;
    height: 2.7rem;
    color: $font-primary-color;
    border: 1px solid $border-color-secondary;
    transition: all 200ms;
    transform: scale(1);

    &.active {
      background-color: $primary-color;
      // background-color: springgreen;
    }

    &.inactive {
      background-color: $background-highlight-color;
      display: inline-block;
      color: $font-deactivated-color;
    }

    &:active {
      transform: scale(.99);
      filter: brightness(105%);
    }
  }
}

.session {
  width: 100%;
  display: flex;
  flex-direction: column;

  * + * {
    margin-top: .4rem;
  }

  .logout-btn {
    border-radius: $border-radius;
    background-color: $primary-color;
    height: 2.7rem;
    color: $font-primary-color;
    border: 1px solid black;
  }
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  // border: 1px solid green;
  -webkit-text-fill-color: $font-primary-color;
  -webkit-box-shadow: 0 0 0 1000px $background-highlight-color inset;
  transition: background-color 5000s ease-in-out 0s;
}
