@font-face {
  font-family: "OperatorMono";
  src: url("./assets/fonts/operatormono/OperatorMono-Bold.otf") format("opentype");
  font-weight: bold;
}

@font-face {
  font-family: "OperatorMono";
  src: url("./assets/fonts/operatormono/OperatorMono-BoldItalic.otf") format("opentype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "OperatorMono";
  src: url("./assets/fonts/operatormono/OperatorMono-Medium.otf") format("opentype");
  font-weight: normal;
}

@font-face {
  font-family: "OperatorMono";
  src: url("./assets/fonts/operatormono/OperatorMono-MediumItalic.otf") format("opentype");
  font-weight: normal;
  font-style: italic;
}
