$background-color: #171717;
$background-highlight-color: #222429;
$font-primary-color: white;
$font-primary-inverted-color: black;
$font-secondary-color: #C6C6C6;
$font-deactivated-color: #4F4F4F;
$primary-color: #71D99E;
$primary-highlight-color: #A9E5C3;
$border-color-secondary: #30363D;
$border-primary-shadow: rgba(113, 217, 158, 0.13);
$border-radius: 6px;
$padding-page: 1.6em;
